version: 2.1
executors:
  default:
    docker:
    - image: cimg/go:1.17

aliases:
- &restore_cache
  restore_cache:
    key: go-mod-v2-{{ checksum "go.sum" }}
- &save_cache
  save_cache:
    key: go-mod-v2-{{ checksum "go.sum" }}
    paths:
      - "/go/pkg/mod"

jobs:
  check-style:
    executor:
      name: default
    steps:
    - checkout
    - *restore_cache
    - run: make check-style
    - *save_cache

  check-modules:
    executor:
      name: default
    steps:
    - checkout
    - *restore_cache
    - run: make check-modules
    - *save_cache

  check-boilerplate:
    executor:
      name: default
    steps:
    - checkout
    - run: ./scripts/verify-boilerplate.sh

  check-mocks:
    executor:
      name: default
    steps:
    - checkout
    - run: make verify-mocks

  test-sqlite:
    executor:
      name: default
    steps:
    - checkout
    - *restore_cache
    - run: |
        make unittest
        make goverall
    - *save_cache

  test-testwick:
    executor:
      name: default
    steps:
    - checkout
    - *restore_cache
    - run: |
        cd cmd/tools/testwick
        make unittest
    - *save_cache

  test-postgres:
    docker:
    - image: cimg/go:1.17
      environment:
        CLOUD_DATABASE=postgres://cloud_test@localhost:5432/cloud_test?sslmode=disable
    - image: circleci/postgres:11.2-alpine
      environment:
        POSTGRES_USER: cloud_test
        POSTGRES_DB: cloud_test
    executor:
      name: default
    steps:
    - run:
        name: Waiting for Postgres to be ready
        command: |
          for i in `seq 1 10`;
          do
            nc -z localhost 5432 && echo Success && exit 0
            echo -n .
            sleep 1
          done
          echo Failed waiting for Postgres && exit 1
    - checkout
    - *restore_cache
    - run: make unittest
    - *save_cache

  push-docker-pr:
    executor:
      name: default
    steps:
    - checkout
    - setup_remote_docker
    - run: make build-image
    - run: make build-image-e2e
    - run: ./scripts/push-docker-pr.sh
    - run:
        name: Re-run Docker Push if fail
        command: |
            sleep 20
            ./scripts/push-docker-pr.sh
        when: on_fail

  push-docker:
    executor:
      name: default
    steps:
    - checkout
    - setup_remote_docker
    - run: make build-image
    - run: make build-image-e2e
    - run: ./scripts/push-docker.sh
    - run:
        name: Re-run Docker Push if fail
        command: |
            sleep 20
            ./scripts/push-docker.sh
        when: on_fail

  scan-image:
    docker:
    - image: registry.gitlab.com/gitlab-org/security-products/analyzers/klar:latest
      environment:
        GIT_STRATEGY: none
        CI_APPLICATION_REPOSITORY: mattermost/mattermost-cloud
        CLAIR_DB_CONNECTION_STRING: "postgresql://postgres:password@localhost:5432/postgres?sslmode=disable&statement_timeout=60000"
        DOCKERFILE_PATH: "build/Dockerfile"
    - image: arminc/clair-db:latest
    steps:
    - checkout
    - run: |
        export CI_APPLICATION_TAG="${CIRCLE_SHA1:0:7}"
        export DOCKER_USER=$DOCKER_USERNAME
        /analyzer run
    - store_artifacts:
        path: gl-container-scanning-report.json
        destination: security-scan

workflows:
  version: 2
  ci-build:
    jobs:
    - check-boilerplate
    - check-style
    - check-modules
    - test-sqlite
    - test-postgres
    - test-testwick
    - check-mocks
    - push-docker-pr:
        context: matterbuild-docker
        requires:
        - check-mocks
        - check-style
        - test-sqlite
        - test-postgres
        - check-boilerplate
    - scan-image:
        context: matterbuild-docker
        requires:
        - push-docker-pr
  master-build:
    jobs:
    - check-mocks:
        filters:
          branches:
            only:
            - master
    - check-boilerplate:
        filters:
          branches:
            only:
            - master
    - check-style:
        filters:
          branches:
            only:
            - master
    - check-modules:
        filters:
          branches:
            only:
            - master
    - test-sqlite:
        filters:
          branches:
            only:
            - master
    - test-postgres:
        filters:
          branches:
            only:
            - master
    - push-docker:
          context: matterbuild-docker
          requires:
          - check-mocks
          - check-style
          - test-sqlite
          - test-postgres
          - check-boilerplate
          filters:
            branches:
              only:
              - master
  tag-builds:
    jobs:
    - check-mocks:
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
    - check-boilerplate:
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
    - check-style:
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
    - check-modules:
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
    - test-sqlite:
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
    - test-postgres:
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
    - push-docker:
        context: matterbuild-docker
        requires:
        - check-mocks
        - check-style
        - test-sqlite
        - test-postgres
        - check-boilerplate
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
