---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: k8s-spot-termination-handler
rules:
  # For draining nodes
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - update
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
  - apiGroups:
      - extensions
    resources:
      - replicasets
      - daemonsets
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - pods/eviction
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: k8s-spot-termination-handler
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: k8s-spot-termination-handler
subjects:
  - kind: ServiceAccount
    name: k8s-spot-termination-handler
    namespace: kube-system
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: k8s-spot-termination-handler
  namespace: kube-system
  labels:
    app: k8s-spot-termination-handler
spec:
  selector:
    matchLabels:
      app: k8s-spot-termination-handler
  template:
    metadata:
      name: k8s-spot-termination-handler
      labels:
        app: k8s-spot-termination-handler
    spec:
      serviceAccountName: k8s-spot-termination-handler
      containers:
        - name: k8s-spot-termination-handler
          image: mattermost/kube-spot-termination-notice-handler:v1.21.0
          imagePullPolicy: IfNotPresent
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            # Parameters to drain command can be adjusted
            - name: DRAIN_PARAMETERS
              value: '--grace-period=120 --force --ignore-daemonsets --delete-local-data'
            - name: CLUSTER
              value: ""
            - name: MATTERMOST_WEBHOOK
              value: ""
            - name: MATTERMOST_USERNAME
              value: "spot-monitor-bot"
            - name: MATTERMOST_CHANNEL
              value: ""
            - name: DETACH_ASG
              value: "true"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            requests:
              cpu: 20m
              memory: 40Mi
            limits:
              cpu: 200m
              memory: 200Mi
      nodeSelector:
        "node-role.kubernetes.io/spot-worker": "true"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: k8s-spot-termination-handler
  name: k8s-spot-termination-handler
  namespace: kube-system

